@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,600;1,800&display=swap');
:root{
  --main-color:#FF1616;
  --nav-color:#FFF6F6;
  --btn-color:#F1E9E9;
  --card-color:#EFEFEF;
  --font : 'Poppins', sans-serif;
}



header{
  background-color: var(--nav-color);
}
header div .butn{
  background-color: var(--btn-color);
  min-width: 250px;
  margin-right: 1%;
  padding: 0 20px;
  border: none;
}
button.butn.create{
  justify-content: center !important;
}
.navbar-brand img{
  width: 70%;
}
.card-title {
  background-color: var(--main-color);
  color: white;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 600;
}
.card.p-2.w-100 {
  display: grid;
  grid-template-columns: auto auto;
}
.card-footer button{
  padding: 3px 10px;
  color: white;
  border-radius: 8px;
  background-color: var(--main-color);
  margin-inline: 1%;
  border: none;
}
.card-footer button.priority{
  border: 1px solid var(--main-color);
  background-color: transparent;
  color: var(--main-color);
}

#addTask{
  background-color:var(--main-color);
  padding: 10px;
  color: white;
  border-radius: 10px;
  width: 140px;
  text-align: center;
  font-family: var(--font);
}