@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,600;1,800&display=swap');
:root{
  --main-color:#FF1616;
  --nav-color:#FFF6F6;
  --btn-color:#F1E9E9;
  --card-color:#EFEFEF;
  --font : 'Poppins', sans-serif;
}



header{
  background-color: var(--nav-color);
}
header div .butn{
  background-color: var(--btn-color);
  min-width: 250px;
  margin-right: 1%;
  padding: 0 20px;
  border: none;
}
button.butn.create{
  justify-content: center !important;
}

header div .btn img{
  width: 80%;
}
#addTask{
  background-color:var(--main-color);
  padding: 10px;
  color: white;
  border-radius: 10px;
  width: 140px;
  text-align: center;
  font-family: var(--font);
}