@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,600;1,800&display=swap');
:root{
  --main-color:#ff5959;
  --background:white;;
  --nav-color:#FFF6F6;
  --btn-color:#F1E9E9;
  --card-color:#EFEFEF;
  --p-color: #98999a;
  --low-color:#ff666c;
  --high-color:#b20b00;
  --medium-color:#f91800;
  --bug-color:#f91a00;
  --feature-color:#ff666c;
  --font : 'Poppins', sans-serif;
}
* {
  box-sizing: border-box!important;
  letter-spacing: 0.5px;
  font-size: 0.8rem;
}
body{
  height: 100vh;
  width: 100vw;
  overflow-x: hidden  ;
  background-color: var(--background);
  
}

header{
  background-color: var(--nav-color);
}
header div .butn{
  background-color: var(--btn-color);
  width: max(20%,200px);
  margin-right: 1%;
  padding: 0 20px;
  border: none;
}
header div .butn:hover{
  background-color: rgb(206, 206, 206);
}
button.butn.create{
  justify-content: center !important;
}
button.butn.create:hover{
  background-color:white;
  color: var(--main-color);
  outline: 1px solid var(--main-color);
  transition: 0.5s;
}
.navbar-brand img{
  width: 50%;
}
.card-title {
  background-color: var(--main-color);
  color: white;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 600;
}
img.card-image {
  width: 25px;
  transform: translateY(160%);
  /*in order to center the element in the middle :*/
}

.iconProgress {
  width: fit-content;
}

div.card {
  display: grid;
  grid-template-columns: 7% 93%;
  border-radius: 10px;
}
div.card :hover .delTask,div.card :hover .updateTask{
  display: block;
}
div.card-body button{
  border: none;
}
div.card-body h5{
  width: 80%;
}
button.delTask {
  width: 15px;
  display: none;
  padding: 0px;
  background-color: transparent !important;
  position: absolute;
  top: 5px;
  right: 10px;
}
button.updateTask {
  width: 15px;
  display: none;
  padding: 0px;
  background-color: transparent !important;
  position: absolute;
  top: 5px;
  right: 30px;
}
.card.task,button.updateTask:hover,button.delTask:hover{
  box-shadow:0 5px 5px 0 rgba(136, 134, 134, 0.2),0 5px 5px 0 rgba(136, 134, 134, 0.2) !important;
} 
.card.task:hover{
  box-shadow: none !important;
} 
.card-footer {
    padding-right: 0px;
}
.card-footer button{
  padding: 1px 20px;
  color: white;
  border-radius: 8px;
  background-color: var(--main-color);
  margin-inline: 1%;
  border: none;
}
.card-footer button.priority{
  border: 2px solid var(--main-color);
  background-color: transparent;
  color: var(--main-color);
}
p {
  margin-bottom: 2px;
  color: var(--p-color);
}
form{
  display: grid;
  gap: 25px;
}

#addTask{
  background-color:var(--main-color);
  padding: 8px;
  color: white;
  border-radius: 10px;
  border: none;
  width: 140px;
  text-align: center;
  font-family: var(--font);
}
#addTask:hover,#add:hover {
  background-color: rgb(255, 28, 28);
}
.scroll {
  max-height: 78vh;
  padding: 2%;
  overflow-y:auto ;
  overflow-x: hidden;
}
#addTaskPage {
  position: absolute;
  height: 100vh;
  display: none;
  top: 0;
  width: 100%;
  background-color: rgb(153 153 153 / 55%);
}
#addTaskPage > div{
    transform: translateY(10%);
    background-color: var(--card-color);
    padding: 5%;

}
button#cancel{
  background-color: lightgrey;
  color: white;
}
button#cancel:hover{
  background-color: gray;
}

button#add,button#update{
  background-color: var(--main-color);
  color: white;
}
.row > div>div{
    background-color:var(--card-color);
    
}
/*styling scroll*/
main ::-webkit-scrollbar {
  width: 3px;
}

/* Track */
main ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(205, 201, 201); 
  border-radius: 10px;
}
 
/* Handle */
main ::-webkit-scrollbar-thumb {
  background: rgb(228, 114, 114); 
  border-radius: 10px;
}

/* Handle on hover */
main ::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}
/*end*/

.navbar-toggler-icon{
  background-image: url("../img/icons8-menu-60.png");
  width: 26px;
  
}
button.btn:focus {
  outline: none !important;
  box-shadow: none!important;
}
option:hover,option:active{
  background:transparent !important; 
}

  